.form-header {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 18px;
}


.form-group {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form {
    width: 50vw;
}
.label {
    font-size: 1em;
    color: #555;
}

.form-control {
    border-radius: .25rem;
    line-height: 1.45667;
    min-height: 3.125rem;
    padding: 0.625rem;
    width: 100%;
}


.label-error {
    text-transform: none;
    color: #b73c21;
    line-height: 15px;
    margin-top: 6px;
    margin-bottom: 0;
}

.buttons-group {
    margin-top: 20px;
    text-align: center;
}

.btn, .btn-primary {
    color: #fff;
    background: #1274b8;
}

.btn, button {
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    max-width: 17.5rem;
    min-width: 11.25rem;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-overflow: ellipsis;
    transition: all .2s ease-in-out;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    padding: .8125rem 1.875rem;
    font-size: 1rem;
    border-radius: .25rem;
}